In [ ]:
import yfinance as yf

In [ ]:
Empresas= ("TCS", "AMZN","TSLA", "FUNO", "FIBRAPL", "BOLSAA", "BAJIOO", "CUERVO", "APPL", "META")

In [ ]:
import random

In [ ]:
matriz_datos = []
for _ in range (10):
  filas= {random.randint(10,70) for _ in range (10)}
  matriz_datos.append(filas)

In [ ]:
import pandas as pd
matriz= pd.DataFrame(matriz_datos, columns=[ f"DIA {i+1}" for i in range (10)], index = Empresas)
matriz

         DIA 1  DIA 2  DIA 3  DIA 4  DIA 5  DIA 6  DIA 7  DIA 8  DIA 9  DIA 10
TCS         37     39     15     16     54     55     57     26   61.0     NaN
AMZN        66     35     39     42     14     18     53     22   59.0     NaN
TSLA        32     10     44     47     18     51     21     55   58.0     NaN
FUNO        40     41     10     15     16     50     20     52   23.0    62.0
FIBRAPL     65     11     44     46     21     54     22     24   29.0    30.0
BOLSAA      66     14     16     49     50     53     57     63    NaN     NaN
BAJIOO      64     44     14     18     23     58     60     62    NaN     NaN
CUERVO      64     68     36     42     14     16     51     21   61.0     NaN
APPL        64     65     32     44     49     18     52     26   61.0     NaN
META        68     43     14     18     21     53     23     25   58.0    27.0